@-webkit-keyframes argh-my-eyes {
    0% {
        background-color: dodgerblue;
    }

    49% {
        background-color: dodgerblue;
    }

    50% {
        background-color: #000;
    }

    99% {
        background-color: #000;
    }

    100% {
        background-color: #ff0000;
    }
}

@-moz-keyframes argh-my-eyes {
    0% {
        background-color: dodgerblue;
    }

    49% {
        background-color: dodgerblue;
    }

    50% {
        background-color: #000;
    }

    99% {
        background-color: #000;
    }

    100% {
        background-color: #ff0000;
    }
}

@keyframes argh-my-eyes {
    0% {
        background-color: dodgerblue;
    }

    49% {
        background-color: dodgerblue;
    }

    50% {
        background-color: #000;
    }

    99% {
        background-color: #000;
    }

    100% {
        background-color: #ff0000;
    }
}


.blink {
    -webkit-animation: argh-my-eyes 0.5s infinite;
    -moz-animation: argh-my-eyes 0.5s infinite;
    animation: argh-my-eyes 0.5s infinite;
}
